<%= render partial: "shared/error", locals: { obj: @owner } %>   

<h1 class="text-center">Změnit přihlašovací údaje</h1>

    <div class="container">
        <%= form_with(model: @owner, local: true) do |f| %>
          <div class="mb-3">
            <%= f.label :email, "Email", class: "form-label" %>
            <%= f.text_field :email, class: "form-control", placeholder: "Email"%>
          </div>
          <div class="mb-3">
            <%= f.label :password, "Nové heslo", class: "form-label" %>
            <%= f.password_field :password, class: "form-control"%>
          </div>
          <div class="mb-3">
            <%= f.submit "Změnit", class: "btn btn-warning" %>
          </div>
        <% end %>
        </div>
    
    <div class="container">
        <%= link_to "Zpět na Váš účet", owner_path(current_owner), class: "btn btn-success" %>
    </div> 
    
    
    
    
    
    
    
    
    
    
    
    
    